{% extends "auction/nav.html" %}
{% load static %}

{% block title %}
    Silent Items
{% endblock %}

{% block content %}

    <a id="backToTop" class="myButton" href="#top">Back to top</a>

    <div class="center">
        <form action="{% url 'auction:silentItem' 0 0 %}" method="post">
            {% csrf_token %}
            <label>
                <select name="auctionType">
                    <option value="silent">Auction type</option>
                    <option value="all">All Items</option>
                    <option value="silent">Silent</option>
                    <option value="live">Live</option>
                </select>
            </label>

            <label>
                <select name="priceFilter">
                    <option value="0">Price</option>
                    <option value="0">All</option>
                    <option value="9">0-$10</option>
                    <option value="10">$10-$50</option>
                    <option value="50">$50-$100</option>
                    <option value="100">$100-$1000</option>
                    <option value="101">$1000 and above</option>
                </select>
            </label>

            <label>
                <select name="numberOfItems">
                    <option value="10">Number of Items</option>
                    <option value="0">All</option>
                    <option value="10">10</option>
                    <option value="30">30</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </label>

            <input type="submit" value="Filter">
        </form>
        <br>
    </div>

    <h2 class="auctionType center">Silent Auction Items</h2><br>

    <div id="auction">
        {% for i in items %}
            <a class="linkLink" href="{% url 'auction:viewItem' i.id i.itemType %}">
                <div class="item">
                    <div class="photo">
                        <img src="{{ i.photo.url }}" alt="Photo of {{ item.name }}">
                    </div>
                    <div class="info">
                        <b class="white">Item:</b> {{ i.name }} <br>
                        <b class="white">Price:</b> ${{ i.currentPrice }} <br>
                        <b class="white">Auction:</b> Silent <br>
                        <b class="white">Description:</b> {{ i.description }}
                    </div>
                </div>
            </a>
            <br><br>
        {% endfor %}
    </div>

{% endblock %}
